/* @media(max-width:575px){
    .icon-xs{
        width: 60%;
    }
} */

/* @media(min-width:992px){
    .hero-lg-profile{
        right: 5%;
    }
} */
/* @media(min-width:1400px){
    .hero-lg-profile{
        right: 10%;
    }
} */