:root {
    --bs-dark-rgb: 8, 9, 13;
    --bs-secondary-rgb: 203, 213, 225;
    --bs-secondary-text-emphasis: #676767;
    --bs-emphasis-color-rgb: 203, 213, 225;
    --bs-secondary-border-subtle: #9ca3af6e;


}

.navbar .nav-link {
    position: relative;
    transition: color .3s;
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 0;
    height: 1px;
    background: #CBD5E1;
    transition: width .3s;
}
.pad-x-y-10{
    padding: 5% 0;
}
.navbar .nav-link:hover {
    color: #CBD5E1 !important;
}

.navbar .nav-link:hover::after {
    width: 100%;
}
.navbar-toggler-icon{
    background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28255, 255, 255%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}
/* .navbar-brand img{
    width: 15%;
} */
.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #323232;
    --bs-btn-border-color: #323232;
    --bs-btn-hover-color: #323232;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-border-color: #323232;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #323232;
    --bs-btn-active-border-color: #323232;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #323232;
    --bs-btn-disabled-border-color: #323232;
}

.hero-sec {
    height: 80vh;
    background:
        radial-gradient(circle at 75% 60%,
        rgba(37,99,235,.35) 0%,
        rgba(37,99,235,.15) 25%,
        rgba(0,0,0,0) 60%),
        #000;
}

.hero-profile {
    right: 10%;
}

.about-img {
    background: linear-gradient(90deg, #3C58E3 -15%, #C2EBFF 58%, #5AB5E2 97%);
}

/* .card{
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
} */
.icon .icon-frame,
.experience .card,
.education .card ,.project-card {
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
}

.card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    border-radius: 30px;
    opacity: 0.25;
}

.about-me {
    position: sticky;
    top: 100px;
    align-self: flex-start;
}

.icon .icon-frame {
    aspect-ratio: 1/1;
}

/* .icon-frame{
    width:52px;
    height:52px;
    border-radius:50%;
    border:1px solid #374151;

    display:flex;
    justify-content:center;
    align-items:center;

    color:#94A3B8;
    text-decoration:none;

    transition:.3s;
}

.icon-frame:hover{
    background:#3B82F6;
    color:#fff;
} */

.skills .carousel-indicators {
    bottom: -60px;
}
/* .sk-card,
/* .project-card {
    background: linear-gradient(180deg, #08090D 0%, #0A0F18 100%);
    box-shadow: 0 0 25px rgba(13, 110, 253, 0.25);
} */ */

.projects {
    background: #08090D;
}

/* .project-card {
    border: 1px solid rgba(59, 130, 246, 15);
    box-shadow: 0 0 25px rgba(59, 130, 246, .08);
} */
/* .card:hover {
    border-color: #3B82F6;
    box-shadow: 0 0 35px rgba(59, 130, 246, .25);
} */
.projects .card{
    height: 100vh;
}
.project-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.badge {
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 50px;
}
.carousel-control-prev{
    left:-70px;
}
.carousel-control-next{
    right:-70px;
} 

.contact-wrap {
    border: 1px solid #1F2937;
    border-radius: 24px
}

.form-control {
    border: 1px solid #334155;
    color: #fff
}
 
.info-item {
    border-bottom: 1px solid #1F2937;
    padding: 16px 0
}

a:hover {
    color: #fff
}


.form-control::placeholder{
    color: white;
}